---
layout: default
home: true
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
/>
<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>

{%- for post in site.posts limit: site.number_of_posts -%}
<a href="{{ post.url }}">
  <article class="post-item home">
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <div class="post-content-wrapper">
      <div class="post-content">
        <h4 class="post-title">{{ post.title | escape }}</h4>
        <p class="post-desc">{{ post.description }}</p>
        {%- if post.tags.length != 0 -%}
        <div class="tag-wrapper">
          <i class="fas fa-tag fa-xs tag-icon"></i>
          {%- endif -%} {%- for tag in post.tags -%}
          <a class="post-tags" href="/tags/#{{tag | downcase | slugify}}"
            >#{{ tag }}{% unless forloop.last %},{% endunless %}</a
          >
          {%- endfor-%}
        </div>
    </div>
    <img class="post-image" src="{{ post.image }}" />

  </article>
</a>

{%- endfor-%}
<!-- 
{%- for post in site.posts limit: site.number_of_posts -%} {%- endfor -%} {%-
for post in site.posts limit: site.number_of_posts -%} {% assign number =
forloop.index | modulo: 2 %} {% case number %} {% when 1 %}
<article class="post-item home">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <div class="post-content-wrapper">
    <img class="post-image" src="{{ post.image }}" />
    <h4 class="post-content">
      <a href="{{ post.url }}" class="post-title">{{ post.title | escape }}</a>
      <p class="post-desc">{{ post.description }}</p>
      {%- if post.tags.length != 0 -%}
      <div class="tag-wrapper">
        <i class="fas fa-tag fa-xs tag-icon"></i>
        {%- endif -%} {%- for tag in post.tags -%}
        <a class="post-tags" href="/tags/#{{tag | downcase | slugify}}"
          >#{{ tag }}{% unless forloop.last %},{% endunless %}</a
        >
        {%- endfor-%}
    </h4>
  </div>
</article>
{% else %}
<article class="post-item home">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <div class="post-content-wrapper">
    <img class="post-image" src="{{ post.image }}" />
    <h4 class="post-content">
      <a href="{{ post.url }}" class="post-title">{{ post.title | escape }}</a>
      <p class="post-desc">{{ post.description }}</p>
      {%- if post.tags.length != 0 -%}
      <div class="tag-wrapper">ㄴㄴㄴㄴ
        <i class="fas fa-tag fa-xs tag-icon"></i>
        {%- endif -%} {%- for tag in post.tags -%}
        <a class="post-tags" href="/tags/#{{tag | downcase | slugify}}"
          >#{{ tag }}{% unless forloop.last %},{% endunless %}</a
        >
        {%- endfor-%}
    </h4>
  </div>
</article>
{% endcase %} {%- endfor -%} -->
